* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --main-color: #4d4dff;
    --secondary-color: #ff00ff;
    --tertary-color: #00ffcc;
    --background-color: #070707;
    --text-color: #f8e3e3;
    --second-text-color: #fff ;
    --main-heaing-font: font-family: 'Poppins', sans-serif;
    --main-para-text:font-family: 'Varela', sans-serif;
}


html,
body {
  background: var(--background-color);
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  scroll-padding-bottom: 0px;
  overflow-x: hidden;
}

nav {
    background: url(../media2/Untitled4.png);
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav h1 {
    font-family: 'Poppins', sans-serif; 
    text-transform: uppercase;
    color: var(--second-text-color);
    font-size: 110px;
}

nav ul a li{
    display: inline;
    color: var(--second-text-color);
    margin: 20px 30px;
    font-family: 'Varela', sans-serif;
    font-weight: 700;
    list-style: none;
    padding: 0;
    transition: all 0.4s ;
    padding: 8px 28px;
    font-size: 18px;
    
    
}
nav ul a {
    text-decoration: none;
    transition: all 1s solid;
    position: relative;
    
}
nav ul {
    padding: 9px 14px;
}

nav ul a li:hover {
    text-shadow:   3px 6px 20px #fff44f,-3px -6px 20px var(--background-color);
    color:var(--text-color);
}

/* ---------the about section of the website */

#about {
    width: 100%;
    height: 820px;
    background-color: var(--background-color);
    background-image: radial-gradient(#fff 0px, transparent 1px), radial-gradient(#fff 0, transparent 1px);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
    background-repeat: repeat;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 8px 96px ;
    
}
.black-space::before {
    background: var(--background-color);

}

.black-space::before, .black-space::after {
    content: "";
    filter: blur(1rem);
    height: 9rem;
    position: absolute;
    width: 9rem;
    z-index: 3;
}

#about .one::before{
    top: 10% ;
    left: 20%;
    z-index: 3;
}
#about .two::before{
    top: 43% ;
    left: 20%;
    z-index: 3;
}
#about .three::before{
    top: 80% ;
    left: 20%;
    z-index: 3;
}
#about .four::before{
    top: 10% ;
    left: 53.4%;
    z-index: 3;
}
#about .five::before{
    top: 43% ;
    left: 53.4%;
    z-index: 3;
}
#about .six::before{
    top: 80% ;
    left: 53.4%;
    z-index: 3;
}
#about .seven::before{
    top: 10% ;
    left: 80%;
    z-index: 3;
}
#about .eight::before{
    top: 42% ;
    left: 80%;
    z-index: 3;
}
#about .nine::before{
    top: 80% ;
    left: 80%;
    z-index: 3;
}

.what-we-offer {
    width: 63%;
    z-index: 6;
    position: relative;
    color: white;
    background: #000;
    padding: 48px;
    box-shadow: 1px 1px 30px rgba(255, 255, 255, 0.1);
}

.what-we-offer h2 {
    font-family: 'Poppins', sans-serif; 
    font-size: 48px;
    color: var(--second-text-color);
    margin: 0 0 32px 0;
}
.what-we-offer .p {
    font-family: 'Varela', sans-serif;
    color: var(--second-text-color);
    padding:  8px 0;
    margin: 32px 0 0px 0  ;
    width: 80%;
    font-size: 20px;
}

/* -------the call to action buttons */

#callto-action {
    height: 750px;
    position: relative;
    padding: 88px 56px ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg fill-opacity='0.87'%3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23010101' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23030303' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23040404' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23060606' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23070707' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
}

.thumbs-up{
    position: absolute;
    right: -10%;
    top: -80%;
    z-index: 5;
    transform: scale(0.3);
}
.graph{
    position: absolute;
    top: 7%;
    left: 4%;
    z-index: 5;
    transform: translateX(50%);
    transform: scale(0.7);
}
.call-contents {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 40%;
    
}
/* -------call to action buttons */

#callto-action h2 {
    font-family: 'Poppins', sans-serif; 
    font-size: 48px;
    color: var(--second-text-color);
    margin:  32px 0;
    text-align: center;
    
}
.btn-section    {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 48%;
    
}

.ready {
    width: 300px;
    height: 72px;
    border: none;
    border-radius: 13px;
    padding: 24px 72px;
    text-align: center;   
    transition: all 0.5s ease;
    cursor: pointer;
    font-size: 19px;
    font-family: 'Poppins', sans-serif; 
    position: relative;
    overflow: hidden;
    margin: 0 20px ;
}

.ready:hover {
    transform:scale(1.1);
    color:var(--tertary-color)
}
.rready{
    background: linear-gradient(90deg, var(--secondary-color) 70% , var(--main-color) 100% );
    color: white;
    border: none;
}

.rready::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--main-color);
    width: 100%;
    z-index: -1;
    left:0;
    height: 0%;
    transition:  0.8s;
    top: 0;
    border-radius: 0 0 50% 50%;
    border: none;
}
.rready:hover{
    color: var(--text-color);
    box-shadow: 10px 10px 20px var(--main-color) ,
    -10px -10px 20px var(--main-color);
    background: #4d4dff;
    transition: all 1s ease;
    color:var(--tertary-color);
    text-shadow:  -80px 0px  1px #000, 80px 0px 1px white
}

.rready:hover::before {
    height: 180%;
}
.curriculum{
    background: linear-gradient(90deg, var(--main-color) 70% , var(--secondary-color) 100% );
    color: white;
    border: none;
}

.curriculum::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--secondary-color);
    width: 100%;
    z-index: -1;
    left:0;
    height: 0%;
    transition:  0.8s;
    top: 0;
    border-radius: 0 0 50% 50%;
    border: none;
}
.curriculum:hover{
    color: var(--text-color);
    box-shadow: 10px 10px 20px var(--secondary-color) ,
    -10px -10px 20px var(--secondary-color);
    background: #4d4dff;
    transition: all 1s ease;
    color:var(--tertary-color);
    text-shadow:  0px -20px  1px #000, 1px 20px 1px white
}

.curriculum:hover::before {
    height: 180%;
}



/* --------support section */

#support {
    background: url(../media/patternpad\ \(1\).svg);
    width: 100%;
    height: 700px;
    background-position: 20% center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
}


.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #000000dc;
}
.img-box {
    width: 30%;
    height: 100%;
    position: relative;
}
.book   {
    width: 450px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    box-shadow: 1px 1px 30px rgba(255, 255, 255, 0.3),
    -1px -1px 30px rgba(255, 255, 255, 0.3)

}

.logo{
    height: 80%;
    width: 240px;
   
    
}
.text-box {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    position: relative;
    top: -40px;
}
 .logo-inner-box {
    height: 40%;
    width: 100%;
    position: relative;
}

.logo {
    position: absolute;
    top: -40%;
    left: 0%;
    
}

.heading-inner-box {
    font-family: 'Poppins', sans-serif;
    color: var(--secondary-color);
    font-size: 32px;
    width: 100%;
}

.para-inner-box {
    padding: 30px 0 ;
    font-family: 'Varela', sans-serif;
    font-size: 20px;
    color: var(--secondary-color);
    width: 100%;
}
.para-inner-box a {
    padding: 30px 0 ;
    font-family: 'Varela', sans-serif;
    font-size: 20px;
    color: var(--secondary-color);
    width: 100%;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ;
    font-weight: 600;
}

.para-inner-box a:hover {
    text-decoration: underline;
    color: var(--tertary-color);
}

/* --------#faq section */

#faq {
    background: url(../media/abstract-timekeeper.svg); /* use the z league thing colour fade in */
    width: 100%;
    height: 800px;
    background-position: 90% center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 104px;
    background-position: center center ;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}
.heart{
    position: absolute;
    top: -10%;
    right: 6%;
    transform: scale(0.7);
    animation: bump 20s infinite ;
}
.faq-flex-container {
    box-shadow: 1px 1px 30px rgba(255, 255, 255, 0.1);
    padding: 24px;
    width: 85%;
    background: #000000ea;
}
.faq-flex-container h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: var(--secondary-color);
}

.faq-flex-container .q-a-collab{
    margin: 16px 0;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.411);
}

.faq-flex-container .questions{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: var(--second-text-color);
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
}

.faq-flex-container .questions span {
    color: var(--secondary-color);
}
.faq-flex-container .questions hr {
    color: var(--secondary-color);
    width: 22%;
    opacity: 0.2;
    position: relative;
    left: 10px;
}
.faq-flex-container .answers{
    width: 75%;
    color: var(--secondary-color);
    font-family: 'Varela', sans-serif;
    display: none;
    transition: all 0.2s;
}
.faq-flex-container .answer1.answer1-open, .answer2.answer2-open,.answer3.answer3-open,.answer4.answer4-open,.answer5.answer5-open,.answer6.answer6-open{
    width: 75%;
    color: var(--secondary-color);
    font-family: 'Varela', sans-serif;
    display: block;
    margin:10px 0;
    transition: all 0.4s;
}
.faq-flex-container .questions svg{
    position: absolute;
    right: 0%;
    height: 24px;
    width: 40px;
    top: -8%;
    fill: var(--secondary-color);
}

.faq-flex-container .questions .caret1-rotate,.caret2-rotate,.caret3-rotate,.caret4-rotate,.caret5-rotate,.caret6-rotate{
    transform: rotate(180deg);
    transition: all 0.5s;
}

/* -----logo sections */

.justforlogos{
    height: 400px;
    background: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #070707;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='1000' viewBox='0 0 1600 800'%3E%3Cpath fill='%23000000' d='M1102.5 734.8c2.5-1.2 24.8-8.6 25.6-7.5.5.7-3.9 23.8-4.6 24.5C1123.3 752.1 1107.5 739.5 1102.5 734.8zM1226.3 229.1c0-.1-4.9-9.4-7-14.2-.1-.3-.3-1.1-.4-1.6-.1-.4-.3-.7-.6-.9-.3-.2-.6-.1-.8.1l-13.1 12.3c0 0 0 0 0 0-.2.2-.3.5-.4.8 0 .3 0 .7.2 1 .1.1 1.4 2.5 2.1 3.6 2.4 3.7 6.5 12.1 6.5 12.2.2.3.4.5.7.6.3 0 .5-.1.7-.3 0 0 1.8-2.5 2.7-3.6 1.5-1.6 3-3.2 4.6-4.7 1.2-1.2 1.6-1.4 2.1-1.6.5-.3 1.1-.5 2.5-1.9C1226.5 230.4 1226.6 229.6 1226.3 229.1zM33 770.3C33 770.3 33 770.3 33 770.3c0-.7-.5-1.2-1.2-1.2-.1 0-.3 0-.4.1-1.6.2-14.3.1-22.2 0-.3 0-.6.1-.9.4-.2.2-.4.5-.4.9 0 .2 0 4.9.1 5.9l.4 13.6c0 .3.2.6.4.9.2.2.5.3.8.3 0 0 .1 0 .1 0 7.3-.7 14.7-.9 22-.6.3 0 .7-.1.9-.3.2-.2.4-.6.4-.9C32.9 783.3 32.9 776.2 33 770.3z'/%3E%3Cpath fill='%2300FFCC' d='M171.1 383.4c1.3-2.5 14.3-22 15.6-21.6.8.3 11.5 21.2 11.5 22.1C198.1 384.2 177.9 384 171.1 383.4zM596.4 711.8c-.1-.1-6.7-8.2-9.7-12.5-.2-.3-.5-1-.7-1.5-.2-.4-.4-.7-.7-.8-.3-.1-.6 0-.8.3L574 712c0 0 0 0 0 0-.2.2-.2.5-.2.9 0 .3.2.7.4.9.1.1 1.8 2.2 2.8 3.1 3.1 3.1 8.8 10.5 8.9 10.6.2.3.5.4.8.4.3 0 .5-.2.6-.5 0 0 1.2-2.8 2-4.1 1.1-1.9 2.3-3.7 3.5-5.5.9-1.4 1.3-1.7 1.7-2 .5-.4 1-.7 2.1-2.4C596.9 713.1 596.8 712.3 596.4 711.8zM727.5 179.9C727.5 179.9 727.5 179.9 727.5 179.9c.6.2 1.3-.2 1.4-.8 0-.1 0-.2 0-.4.2-1.4 2.8-12.6 4.5-19.5.1-.3 0-.6-.2-.8-.2-.3-.5-.4-.8-.5-.2 0-4.7-1.1-5.7-1.3l-13.4-2.7c-.3-.1-.7 0-.9.2-.2.2-.4.4-.5.6 0 0 0 .1 0 .1-.8 6.5-2.2 13.1-3.9 19.4-.1.3 0 .6.2.9.2.3.5.4.8.5C714.8 176.9 721.7 178.5 727.5 179.9zM728.5 178.1c-.1-.1-.2-.2-.4-.2C728.3 177.9 728.4 178 728.5 178.1z'/%3E%3Cg fill-opacity='0.04' fill='%23FFF'%3E%3Cpath d='M699.6 472.7c-1.5 0-2.8-.8-3.5-2.3-.8-1.9 0-4.2 1.9-5 3.7-1.6 6.8-4.7 8.4-8.5 1.6-3.8 1.7-8.1.2-11.9-.3-.9-.8-1.8-1.2-2.8-.8-1.7-1.8-3.7-2.3-5.9-.9-4.1-.2-8.6 2-12.8 1.7-3.1 4.1-6.1 7.6-9.1 1.6-1.4 4-1.2 5.3.4 1.4 1.6 1.2 4-.4 5.3-2.8 2.5-4.7 4.7-5.9 7-1.4 2.6-1.9 5.3-1.3 7.6.3 1.4 1 2.8 1.7 4.3.5 1.1 1 2.2 1.5 3.3 2.1 5.6 2 12-.3 17.6-2.3 5.5-6.8 10.1-12.3 12.5C700.6 472.6 700.1 472.7 699.6 472.7zM740.4 421.4c1.5-.2 3 .5 3.8 1.9 1.1 1.8.4 4.2-1.4 5.3-3.7 2.1-6.4 5.6-7.6 9.5-1.2 4-.8 8.4 1.1 12.1.4.9 1 1.7 1.6 2.7 1 1.7 2.2 3.5 3 5.7 1.4 4 1.2 8.7-.6 13.2-1.4 3.4-3.5 6.6-6.8 10.1-1.5 1.6-3.9 1.7-5.5.2-1.6-1.4-1.7-3.9-.2-5.4 2.6-2.8 4.3-5.3 5.3-7.7 1.1-2.8 1.3-5.6.5-7.9-.5-1.3-1.3-2.7-2.2-4.1-.6-1-1.3-2.1-1.9-3.2-2.8-5.4-3.4-11.9-1.7-17.8 1.8-5.9 5.8-11 11.2-14C739.4 421.6 739.9 421.4 740.4 421.4zM261.3 590.9c5.7 6.8 9 15.7 9.4 22.4.5 7.3-2.4 16.4-10.2 20.4-3 1.5-6.7 2.2-11.2 2.2-7.9-.1-12.9-2.9-15.4-8.4-2.1-4.7-2.3-11.4 1.8-15.9 3.2-3.5 7.8-4.1 11.2-1.6 1.2.9 1.5 2.7.6 3.9-.9 1.2-2.7 1.5-3.9.6-1.8-1.3-3.6.6-3.8.8-2.4 2.6-2.1 7-.8 9.9 1.5 3.4 4.7 5 10.4 5.1 3.6 0 6.4-.5 8.6-1.6 4.7-2.4 7.7-8.6 7.2-15-.5-7.3-5.3-18.2-13-23.9-4.2-3.1-8.5-4.1-12.9-3.1-3.1.7-6.2 2.4-9.7 5-6.6 5.1-11.7 11.8-14.2 19-2.7 7.7-2.1 15.8 1.9 23.9.7 1.4.1 3.1-1.3 3.7-1.4.7-3.1.1-3.7-1.3-4.6-9.4-5.4-19.2-2.2-28.2 2.9-8.2 8.6-15.9 16.1-21.6 4.1-3.1 8-5.1 11.8-6 6-1.4 12 0 17.5 4C257.6 586.9 259.6 588.8 261.3 590.9z'/%3E%3Ccircle cx='1013.7' cy='153.9' r='7.1'/%3E%3Ccircle cx='1024.3' cy='132.1' r='7.1'/%3E%3Ccircle cx='1037.3' cy='148.9' r='7.1'/%3E%3Cpath d='M1508.7 297.2c-4.8-5.4-9.7-10.8-14.8-16.2 5.6-5.6 11.1-11.5 15.6-18.2 1.2-1.7.7-4.1-1-5.2-1.7-1.2-4.1-.7-5.2 1-4.2 6.2-9.1 11.6-14.5 16.9-4.8-5-9.7-10-14.7-14.9-1.5-1.5-3.9-1.5-5.3 0-1.5 1.5-1.5 3.9 0 5.3 4.9 4.8 9.7 9.8 14.5 14.8-1.1 1.1-2.3 2.2-3.5 3.2-4.1 3.8-8.4 7.8-12.4 12-1.4 1.5-1.4 3.8 0 5.3 0 0 0 0 0 0 1.5 1.4 3.9 1.4 5.3-.1 3.9-4 8.1-7.9 12.1-11.7 1.2-1.1 2.3-2.2 3.5-3.3 4.9 5.3 9.8 10.6 14.6 15.9.1.1.1.1.2.2 1.4 1.4 3.7 1.5 5.2.2C1510 301.2 1510.1 298.8 1508.7 297.2zM327.6 248.6l-.4-2.6c-1.5-11.1-2.2-23.2-2.3-37 0-5.5 0-11.5.2-18.5 0-.7 0-1.5 0-2.3 0-5 0-11.2 3.9-13.5 2.2-1.3 5.1-1 8.5.9 5.7 3.1 13.2 8.7 17.5 14.9 5.5 7.8 7.3 16.9 5 25.7-3.2 12.3-15 31-30 32.1L327.6 248.6zM332.1 179.2c-.2 0-.3 0-.4.1-.1.1-.7.5-1.1 2.7-.3 1.9-.3 4.2-.3 6.3 0 .8 0 1.7 0 2.4-.2 6.9-.2 12.8-.2 18.3.1 12.5.7 23.5 2 33.7 11-2.7 20.4-18.1 23-27.8 1.9-7.2.4-14.8-4.2-21.3l0 0C347 188.1 340 183 335 180.3 333.6 179.5 332.6 179.2 332.1 179.2zM516.3 60.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C517.3 60.4 516.8 60.8 516.3 60.8zM506.1 70.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C506.4 70.5 506.2 70.5 506.1 70.5zM494.1 64.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C494.7 64.3 494.4 64.4 494.1 64.4zM500.5 55.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C500.9 55.3 500.7 55.3 500.5 55.3zM506.7 55c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C507.4 54.8 507.1 55 506.7 55zM1029.3 382.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C1030.3 382.4 1029.8 382.8 1029.3 382.8zM1019.1 392.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C1019.4 392.5 1019.2 392.5 1019.1 392.5zM1007.1 386.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C1007.7 386.3 1007.4 386.4 1007.1 386.4zM1013.5 377.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C1013.9 377.3 1013.7 377.3 1013.5 377.3zM1019.7 377c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C1020.4 376.8 1020.1 377 1019.7 377zM1329.7 573.4c-1.4 0-2.9-.2-4.5-.7-8.4-2.7-16.6-12.7-18.7-20-.4-1.4-.7-2.9-.9-4.4-8.1 3.3-15.5 10.6-15.4 21 0 1.5-1.2 2.7-2.7 2.8 0 0 0 0 0 0-1.5 0-2.7-1.2-2.7-2.7-.1-6.7 2.4-12.9 7-18 3.6-4 8.4-7.1 13.7-8.8.5-6.5 3.1-12.9 7.4-17.4 7-7.4 18.2-8.9 27.3-10.1l.7-.1c1.5-.2 2.9.9 3.1 2.3.2 1.5-.9 2.9-2.3 3.1l-.7.1c-8.6 1.2-18.4 2.5-24 8.4-3 3.2-5 7.7-5.7 12.4 7.9-1 17.7 1.3 24.3 5.7 4.3 2.9 7.1 7.8 7.2 12.7.2 4.3-1.7 8.3-5.2 11.1C1335.2 572.4 1332.6 573.4 1329.7 573.4zM1311 546.7c.1 1.5.4 3 .8 4.4 1.7 5.8 8.7 14.2 15.1 16.3 2.8.9 5.1.5 7.2-1.1 2.7-2.1 3.2-4.8 3.1-6.6-.1-3.2-2-6.4-4.8-8.3C1326.7 547.5 1317.7 545.6 1311 546.7z'/%3E%3C/g%3E%3C/svg%3E");
    width: 100%;
    background-repeat: repeat;
    background-size: cover;
}
.logo-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 35px;
}

.logo-flex-container img{
    height: 200px;
    width: 200px;
    margin: 0 32px;
}

/* -----------footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    height: 200px;
    width: 100%;
    background-color: #070707 ;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='1000' viewBox='0 0 1600 800'%3E%3Cpath fill='%23000000' d='M1102.5 734.8c2.5-1.2 24.8-8.6 25.6-7.5.5.7-3.9 23.8-4.6 24.5C1123.3 752.1 1107.5 739.5 1102.5 734.8zM1226.3 229.1c0-.1-4.9-9.4-7-14.2-.1-.3-.3-1.1-.4-1.6-.1-.4-.3-.7-.6-.9-.3-.2-.6-.1-.8.1l-13.1 12.3c0 0 0 0 0 0-.2.2-.3.5-.4.8 0 .3 0 .7.2 1 .1.1 1.4 2.5 2.1 3.6 2.4 3.7 6.5 12.1 6.5 12.2.2.3.4.5.7.6.3 0 .5-.1.7-.3 0 0 1.8-2.5 2.7-3.6 1.5-1.6 3-3.2 4.6-4.7 1.2-1.2 1.6-1.4 2.1-1.6.5-.3 1.1-.5 2.5-1.9C1226.5 230.4 1226.6 229.6 1226.3 229.1zM33 770.3C33 770.3 33 770.3 33 770.3c0-.7-.5-1.2-1.2-1.2-.1 0-.3 0-.4.1-1.6.2-14.3.1-22.2 0-.3 0-.6.1-.9.4-.2.2-.4.5-.4.9 0 .2 0 4.9.1 5.9l.4 13.6c0 .3.2.6.4.9.2.2.5.3.8.3 0 0 .1 0 .1 0 7.3-.7 14.7-.9 22-.6.3 0 .7-.1.9-.3.2-.2.4-.6.4-.9C32.9 783.3 32.9 776.2 33 770.3z'/%3E%3Cpath fill='%2300FFCC' d='M171.1 383.4c1.3-2.5 14.3-22 15.6-21.6.8.3 11.5 21.2 11.5 22.1C198.1 384.2 177.9 384 171.1 383.4zM596.4 711.8c-.1-.1-6.7-8.2-9.7-12.5-.2-.3-.5-1-.7-1.5-.2-.4-.4-.7-.7-.8-.3-.1-.6 0-.8.3L574 712c0 0 0 0 0 0-.2.2-.2.5-.2.9 0 .3.2.7.4.9.1.1 1.8 2.2 2.8 3.1 3.1 3.1 8.8 10.5 8.9 10.6.2.3.5.4.8.4.3 0 .5-.2.6-.5 0 0 1.2-2.8 2-4.1 1.1-1.9 2.3-3.7 3.5-5.5.9-1.4 1.3-1.7 1.7-2 .5-.4 1-.7 2.1-2.4C596.9 713.1 596.8 712.3 596.4 711.8zM727.5 179.9C727.5 179.9 727.5 179.9 727.5 179.9c.6.2 1.3-.2 1.4-.8 0-.1 0-.2 0-.4.2-1.4 2.8-12.6 4.5-19.5.1-.3 0-.6-.2-.8-.2-.3-.5-.4-.8-.5-.2 0-4.7-1.1-5.7-1.3l-13.4-2.7c-.3-.1-.7 0-.9.2-.2.2-.4.4-.5.6 0 0 0 .1 0 .1-.8 6.5-2.2 13.1-3.9 19.4-.1.3 0 .6.2.9.2.3.5.4.8.5C714.8 176.9 721.7 178.5 727.5 179.9zM728.5 178.1c-.1-.1-.2-.2-.4-.2C728.3 177.9 728.4 178 728.5 178.1z'/%3E%3Cg fill-opacity='0.04' fill='%23FFF'%3E%3Cpath d='M699.6 472.7c-1.5 0-2.8-.8-3.5-2.3-.8-1.9 0-4.2 1.9-5 3.7-1.6 6.8-4.7 8.4-8.5 1.6-3.8 1.7-8.1.2-11.9-.3-.9-.8-1.8-1.2-2.8-.8-1.7-1.8-3.7-2.3-5.9-.9-4.1-.2-8.6 2-12.8 1.7-3.1 4.1-6.1 7.6-9.1 1.6-1.4 4-1.2 5.3.4 1.4 1.6 1.2 4-.4 5.3-2.8 2.5-4.7 4.7-5.9 7-1.4 2.6-1.9 5.3-1.3 7.6.3 1.4 1 2.8 1.7 4.3.5 1.1 1 2.2 1.5 3.3 2.1 5.6 2 12-.3 17.6-2.3 5.5-6.8 10.1-12.3 12.5C700.6 472.6 700.1 472.7 699.6 472.7zM740.4 421.4c1.5-.2 3 .5 3.8 1.9 1.1 1.8.4 4.2-1.4 5.3-3.7 2.1-6.4 5.6-7.6 9.5-1.2 4-.8 8.4 1.1 12.1.4.9 1 1.7 1.6 2.7 1 1.7 2.2 3.5 3 5.7 1.4 4 1.2 8.7-.6 13.2-1.4 3.4-3.5 6.6-6.8 10.1-1.5 1.6-3.9 1.7-5.5.2-1.6-1.4-1.7-3.9-.2-5.4 2.6-2.8 4.3-5.3 5.3-7.7 1.1-2.8 1.3-5.6.5-7.9-.5-1.3-1.3-2.7-2.2-4.1-.6-1-1.3-2.1-1.9-3.2-2.8-5.4-3.4-11.9-1.7-17.8 1.8-5.9 5.8-11 11.2-14C739.4 421.6 739.9 421.4 740.4 421.4zM261.3 590.9c5.7 6.8 9 15.7 9.4 22.4.5 7.3-2.4 16.4-10.2 20.4-3 1.5-6.7 2.2-11.2 2.2-7.9-.1-12.9-2.9-15.4-8.4-2.1-4.7-2.3-11.4 1.8-15.9 3.2-3.5 7.8-4.1 11.2-1.6 1.2.9 1.5 2.7.6 3.9-.9 1.2-2.7 1.5-3.9.6-1.8-1.3-3.6.6-3.8.8-2.4 2.6-2.1 7-.8 9.9 1.5 3.4 4.7 5 10.4 5.1 3.6 0 6.4-.5 8.6-1.6 4.7-2.4 7.7-8.6 7.2-15-.5-7.3-5.3-18.2-13-23.9-4.2-3.1-8.5-4.1-12.9-3.1-3.1.7-6.2 2.4-9.7 5-6.6 5.1-11.7 11.8-14.2 19-2.7 7.7-2.1 15.8 1.9 23.9.7 1.4.1 3.1-1.3 3.7-1.4.7-3.1.1-3.7-1.3-4.6-9.4-5.4-19.2-2.2-28.2 2.9-8.2 8.6-15.9 16.1-21.6 4.1-3.1 8-5.1 11.8-6 6-1.4 12 0 17.5 4C257.6 586.9 259.6 588.8 261.3 590.9z'/%3E%3Ccircle cx='1013.7' cy='153.9' r='7.1'/%3E%3Ccircle cx='1024.3' cy='132.1' r='7.1'/%3E%3Ccircle cx='1037.3' cy='148.9' r='7.1'/%3E%3Cpath d='M1508.7 297.2c-4.8-5.4-9.7-10.8-14.8-16.2 5.6-5.6 11.1-11.5 15.6-18.2 1.2-1.7.7-4.1-1-5.2-1.7-1.2-4.1-.7-5.2 1-4.2 6.2-9.1 11.6-14.5 16.9-4.8-5-9.7-10-14.7-14.9-1.5-1.5-3.9-1.5-5.3 0-1.5 1.5-1.5 3.9 0 5.3 4.9 4.8 9.7 9.8 14.5 14.8-1.1 1.1-2.3 2.2-3.5 3.2-4.1 3.8-8.4 7.8-12.4 12-1.4 1.5-1.4 3.8 0 5.3 0 0 0 0 0 0 1.5 1.4 3.9 1.4 5.3-.1 3.9-4 8.1-7.9 12.1-11.7 1.2-1.1 2.3-2.2 3.5-3.3 4.9 5.3 9.8 10.6 14.6 15.9.1.1.1.1.2.2 1.4 1.4 3.7 1.5 5.2.2C1510 301.2 1510.1 298.8 1508.7 297.2zM327.6 248.6l-.4-2.6c-1.5-11.1-2.2-23.2-2.3-37 0-5.5 0-11.5.2-18.5 0-.7 0-1.5 0-2.3 0-5 0-11.2 3.9-13.5 2.2-1.3 5.1-1 8.5.9 5.7 3.1 13.2 8.7 17.5 14.9 5.5 7.8 7.3 16.9 5 25.7-3.2 12.3-15 31-30 32.1L327.6 248.6zM332.1 179.2c-.2 0-.3 0-.4.1-.1.1-.7.5-1.1 2.7-.3 1.9-.3 4.2-.3 6.3 0 .8 0 1.7 0 2.4-.2 6.9-.2 12.8-.2 18.3.1 12.5.7 23.5 2 33.7 11-2.7 20.4-18.1 23-27.8 1.9-7.2.4-14.8-4.2-21.3l0 0C347 188.1 340 183 335 180.3 333.6 179.5 332.6 179.2 332.1 179.2zM516.3 60.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C517.3 60.4 516.8 60.8 516.3 60.8zM506.1 70.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C506.4 70.5 506.2 70.5 506.1 70.5zM494.1 64.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C494.7 64.3 494.4 64.4 494.1 64.4zM500.5 55.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C500.9 55.3 500.7 55.3 500.5 55.3zM506.7 55c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C507.4 54.8 507.1 55 506.7 55zM1029.3 382.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C1030.3 382.4 1029.8 382.8 1029.3 382.8zM1019.1 392.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C1019.4 392.5 1019.2 392.5 1019.1 392.5zM1007.1 386.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C1007.7 386.3 1007.4 386.4 1007.1 386.4zM1013.5 377.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C1013.9 377.3 1013.7 377.3 1013.5 377.3zM1019.7 377c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C1020.4 376.8 1020.1 377 1019.7 377zM1329.7 573.4c-1.4 0-2.9-.2-4.5-.7-8.4-2.7-16.6-12.7-18.7-20-.4-1.4-.7-2.9-.9-4.4-8.1 3.3-15.5 10.6-15.4 21 0 1.5-1.2 2.7-2.7 2.8 0 0 0 0 0 0-1.5 0-2.7-1.2-2.7-2.7-.1-6.7 2.4-12.9 7-18 3.6-4 8.4-7.1 13.7-8.8.5-6.5 3.1-12.9 7.4-17.4 7-7.4 18.2-8.9 27.3-10.1l.7-.1c1.5-.2 2.9.9 3.1 2.3.2 1.5-.9 2.9-2.3 3.1l-.7.1c-8.6 1.2-18.4 2.5-24 8.4-3 3.2-5 7.7-5.7 12.4 7.9-1 17.7 1.3 24.3 5.7 4.3 2.9 7.1 7.8 7.2 12.7.2 4.3-1.7 8.3-5.2 11.1C1335.2 572.4 1332.6 573.4 1329.7 573.4zM1311 546.7c.1 1.5.4 3 .8 4.4 1.7 5.8 8.7 14.2 15.1 16.3 2.8.9 5.1.5 7.2-1.1 2.7-2.1 3.2-4.8 3.1-6.6-.1-3.2-2-6.4-4.8-8.3C1326.7 547.5 1317.7 545.6 1311 546.7z'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: cover;
}

.footer-flex-container{
    width: 60%;
    height: 120px;
}
.socials-sections{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h4 {
    color: var(--tertary-color);
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    text-align: center;
   
}
h6 a  {
    color: var(--tertary-color);
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    text-align: center;
   text-decoration: none;
   transition: all 0.2s ;
}
h6 a:hover {
    color: var(--secondary-color);
}
a {
    text-decoration: none;
}
.github iconify-icon  {
    color: var(--tertary-color);
    height: 60px;
    width: 60px;
    transition: all 0.3s;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 36px;
    z-index: 10;
    
}

.github iconify-icon:hover  {
    color: var(--main-color);
    height: 65px;
    width: 65px;
    font-size: 40px;
}
.thumb {
    transform: scale(0.7);
}
.upper {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}
.upper:hover {
    transform: scale(1.4);
    transition: all 0.3s ease-in-out;
}
/* ::-webkit-scrollbar-thumb{
    background: var(--background-color);
    transition: all 0.2s;
}
::-webkit-scrollbar-thumb:hover{
    background: var(--tertary-color);
}

::-webkit-scrollbar-track{
    background: linear-gradient(180deg, var(--main-color), var(--secondary-color));
}

::-webkit-scrollbar {
    width: 12px;
  }
   */
 
  
  

/* -----------------from here onwards im doing media queries */

@media (min-width:1000px) and (max-width: 1310px) {
    nav h1 {
        font-size: 80px;
    }
    nav {
        background: url(./media2/Untitled4.png);
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    }

    .what-we-offer{
        width: 100%;
        background: #000000dc;
    }

    .btn-section    {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 84%; 
    }

    #support {
        background: url(./media2/background0900.png);
        width: 100%;
        height: 700px;
        background-position: 20% center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 32px;
    }
    .flex-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80%;
        background: #000000dc;
    }
    .book   {
        width: 90%;
        height: 300px;
        position: absolute;
        top: 60%;
        transform: translateY(-50%);
        box-shadow: 1px 1px 30px rgba(255, 255, 255, 0.3),
        -1px -1px 30px rgba(255, 255, 255, 0.3);
        right: 0;
    }
    .logo{
        height: 200%;
        width: 240px;
        position: absolute;
        top: -150%;
    }

    .para-inner-box a {
        padding: 30px 0 ;
        font-family: 'Varela', sans-serif;
        font-size: 20px;
        color: var(--secondary-color);
        width: 100%;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.2s ;
        font-weight: 600;
        text-decoration: underline;
        color: var(--tertary-color);
    }
    #faq {
        background: url(../media/abstract-timekeeper.svg);
        width: 100%;
        height: 1000px;
        background-position: 90% center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 32px;
        background-position: center center ;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        
    }


    .faq-flex-container {
        box-shadow: 1px 1px 30px rgba(255, 255, 255, 0.1);
        padding: 24px;
        width: 90%;
        background: #000000ea;
        z-index: 4;
    }
    .faq-flex-container .questions{
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        color: var(--second-text-color);
        width: 100%;
        height: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        position: relative;
        justify-content: start;
    }
    .faq-flex-container .answers{
        width: 75%;
        color: var(--secondary-color);
        font-family: 'Varela', sans-serif;
        display: none;
    }
    .faq-flex-container .answer1.answer1-open, .answer2.answer2-open,.answer3.answer3-open,.answer4.answer4-open,.answer5.answer5-open,.answer6.answer6-open{
        width: 100%;
        color: var(--secondary-color);
        font-family: 'Varela', sans-serif;
        display: block;
        margin:10px 0;
        
    }
}

@media (max-width:999px) and (min-width:700px) {
    nav h1 {
        font-size: 50px;
    }
    nav {
        background: url(./media2/Untitled4.png);
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    }
    nav ul a li{
        display: inline;
        color: var(--second-text-color);
        margin: 20px 10px;
        font-family: 'Varela', sans-serif;
        font-weight: 700;
        list-style: none;
        padding: 0;
        transition: all 0.4s ;
        padding: 8px 18px;
        font-size: 18px;
    }

    
    nav ul {
        padding: 9px 14px;
        width: max-content;
    }
    #about {
        width: 100%;
        height: 720px;
        background-color: #00000065;
        background-image: radial-gradient(#fff 0px, transparent 1px), radial-gradient(#fff 0, transparent 1px);
        background-size: 60px 60px;
        background-position: 0 0, 30px 30px;
        background-repeat: repeat;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        padding: 20px;
        
    }
    .what-we-offer { 
        width: 100%;
        z-index: 6;
        position: relative;
        color: white;
        background: var(--background-color);
        padding: 48px;
        box-shadow: 1px 1px 30px rgba(255, 255, 255, 0.1);
    }
    .what-we-offer h2 {
        font-family: 'Poppins', sans-serif; 
        font-size: 40px;
        color: var(--second-text-color);
        margin: 0 0 32px 0;
    }
    .what-we-offer .p {
        font-family: 'Varela', sans-serif;
        color: var(--second-text-color);
        padding:  8px 0;
        margin: 32px 0 0px 0  ;
        width: 80%;
        font-size: 16px;
    }
    .call-contents {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 40%;
    }
    .ready {
        width: 250px;
        height: 72px;
        border: none;
        border-radius: 13px;
        padding: 24px 50px;
        text-align: center;   
        transition: all 0.5s ease;
        cursor: pointer;
        font-size: 19px;
        font-family: 'Poppins', sans-serif; 
        position: relative;
        overflow: hidden;
    }
    .btn-section    {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 92%;
    }
    #support {
        background: url(./media2/background0900.png);
        width: 100%;
        height: 700px;
        background-position: 20% center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
        line-height: 30px;
    }
    .flex-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 80%;
        background: #000000dc;
    }
    .book   {
        width: 100%;
        height: 280px;
        position: absolute;
        top: 60%;
        transform: translateY(-50%);
        box-shadow: 1px 1px 30px rgba(255, 255, 255, 0.3),
        -1px -1px 30px rgba(255, 255, 255, 0.3)
    }
    .logo {
        position: absolute;
        top: -2040%;
        left: 0%;
        height: 280px;
        width: 240px;
        display: none;
    }

    #faq {
        background: url(./media/final.png);
        width: 100%;
        height: 80vh;
        background-position: 90% center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px;
        background-position: center center ;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        
    }
    .faq-flex-container {
        box-shadow: 1px 1px 30px rgba(255, 255, 255, 0.1);
        padding: 24px;
        width: 85%;
        background: #000000ea;
        z-index: 4;
    }
    .faq-flex-container .questions{
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        color: var(--second-text-color);
        width: 100%;
        height: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        position: relative;
        padding: 10px 0;
    }
    .faq-flex-container .answers{
        width: 75%;
        color: var(--secondary-color);
        font-family: 'Varela', sans-serif;
        display: none;
        transition: all 0.2s;
    }
    .faq-flex-container .answer1.answer1-open, .answer2.answer2-open,.answer3.answer3-open,.answer4.answer4-open,.answer5.answer5-open,.answer6.answer6-open{
        width: 100%;
        color: var(--secondary-color);
        font-family: 'Varela', sans-serif;
        display: block;
        margin:10px 0;
        
    }

}
@media (max-width:699px) and (min-width:0px) {
    nav h1 {
        font-size: 52px;
        text-align: center;
    }
    nav {
        background: url(./media2/Untitled4.png);
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    }

    nav ul {
        padding: 9px 14px;
        width: max-content;
    }
    nav ul a li{
        display: block;
        color: var(--second-text-color);
        margin: 30px 10px;
        font-family: 'Varela', sans-serif;
        font-weight: 700;
        list-style: none;
        padding: 0;
        transition: all 0.4s ;
        padding: 8px 18px;
        font-size: 20px;
        text-align: center;
    }
    #about {
        width: 100%;
        
        background-color: #00000065;
        background-image: radial-gradient(#fff 0px, transparent 1px), radial-gradient(#fff 0, transparent 1px);
        background-size: 60px 60px;
        background-position: 0 0, 30px 30px;
        background-repeat: repeat;
        position: relative;
        display: flex;
        align-items: center;
        padding: 16px 0;
        height: 150vh;
    }
    .what-we-offer { 
        width: 100%;
        z-index: 6;
        position: relative;
        color: white;
        background: #00000000;
        padding: 16px 10px;
        box-shadow: 1px 1px 30px rgba(255, 255, 255, 0.1);
        
        
    }
    .what-we-offer h2 {
        font-family: 'Poppins', sans-serif; 
        font-size: 32px;
        color: var(--second-text-color);
        
    }
    .what-we-offer .p {
        font-family: 'Varela', sans-serif;
        color: var(--second-text-color);
        padding:  8px 0;
        margin: 32px 0 0px 0  ;
        width: 100%;
        font-size: 16px;
    }

    .graph {
        display: none;
    }
    .thumbs-up{
        display: none;
    }

    .btn-section    {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        
    }
    #callto-action h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
        color: var(--second-text-color);
        margin: 32px 0;
        text-align: center;
    }
    #callto-action{
        margin-top: 200px;
    }

    .ready {
        width: 250px;
        height: 72px;
        border: none;
        border-radius: 13px;
        padding: 24px 50px;
        text-align: center;   
        transition: all 0.5s ease;
        cursor: pointer;
        font-size: 19px;
        font-family: 'Poppins', sans-serif; 
        position: relative;
        overflow: hidden;
    }
    button.ready.rready {
        margin: 30px 0;
    }
    button.ready.curriculum {
        margin: 50px 0;
    }

    #support {
        background: url(./media2/background0900.png);
        width: 100%;
        height: 150vh;
        background-position: 20% center;
        padding: 16px 16px;
        line-height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .flex-container{
        width: 100%;
        height: 100%;
        background: #000000dc;
        display: block;
        position: relative;
        top: 200px;
    }
    .text-box {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0px;
    }
    .img-box {
        width: 100%;
        height: 20%;
        position: relative;
    }
    
    .book   {
        width: 300px;
        height: 300px;
        position: absolute;
        left: 50%;
        top: -100%;
        transform: translateX(-50%);
        box-shadow: 1px 1px 30px rgba(255, 255, 255, 0.3),
        -1px -1px 30px rgba(255, 255, 255, 0.3)
    }
    .logo {
        position: absolute;
        top: -2040%;
        left: 0%;
        height: 280px;
        width: 240px;
        display: none;
    }
    .heading-inner-box {
        font-family: 'Poppins', sans-serif;
        color: var(--secondary-color);
        font-size: 24px;
        width: 100%;
    }
    .logo-inner-box {
        height: 0%;
        width: 100%;
        position: relative;
    }
    
    .para-inner-box {
        padding: 30px 0 ;
        font-family: 'Varela', sans-serif;
        font-size: 14px;
        color: var(--secondary-color);
        width: 100%;
    }
    .para-inner-box a {
        padding: 30px 0 ;
        font-family: 'Varela', sans-serif;
        font-size: 14px;
        color: var(--secondary-color);
        width: 100%;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.2s ;
        font-weight: 600;
    }
    
    .para-inner-box a:hover {
        text-decoration: underline;
        color: var(--tertary-color);
    }

    #faq {
        background: url(./media/final.png);
        width: 100%;
        height: 140vh;
        background-position: 90% center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px 10px;
        background-position: center center ;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        
    }
    .faq-flex-container {
        box-shadow: 1px 1px 30px rgba(255, 255, 255, 0.1);
        padding: 24px 10px;
        width: 100%;
        background: #000000ea;
        z-index: 4;
    }
    .faq-flex-container .questions{
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        color: var(--second-text-color);
        width: 100%;
        height: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        position: relative;
        padding: 10px 0;
    }
    .faq-flex-container .answers{
        width: 75%;
        color: var(--secondary-color);
        font-family: 'Varela', sans-serif;
        display: none;
        font-size: 12px;
    }
    .faq-flex-container .answer1.answer1-open, .answer2.answer2-open,.answer3.answer3-open,.answer4.answer4-open,.answer5.answer5-open,.answer6.answer6-open{
        width: 100%;
        color: var(--secondary-color);
        font-family: 'Varela', sans-serif;
        display: block;
        margin:10px 0;
        font-size: 12px;
    }

    
    .justforlogos{
        height: 800px;
        background: var(--background-color);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo-flex-container {
        display: block;
        position: relative;
    }
    
    .logo-flex-container img{
        height: 200px;
        width: 200px;
        margin: 32px 0;
        transform: translateX(45%);
    }
    h4 {
        color: var(--tertary-color);
        font-family: 'Poppins', sans-serif;
        font-size: 8px;
        text-align: center;
    }
}

@keyframes bump {
    20%{
        transform: scale(1.001);
    }
    40%{
        transform:scale(1.0);
    }
    60%{
        transform: scale(1.01);
    }
    
    80%{
        transform: scale(1.001);
    }
    100%{
        transform:scale(1.0);
    }
}
